{% extends 'main.html' %}

{% block title %}
    Add Item
{% endblock title %}

{% block content %}

    <div class="container mb-4 justify-content-center">

        <br><br>
        <h1>Add Item</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 w-50">
                <div>{{ form.name }}</div>
            </div>
            <hr>

            <div class="mb-3 w-50">
                <div>{{ form.description }}</div>
                <div id="emailHelp" class="form-text">item description helps better views</div>
            </div>
            <hr>
            <div class="mb-3 w-50">
                <div>{{ form.price }}</div>
            </div>
            <div class="mb-3 w-50">
                <div>{{ form.image }}</div>
            </div>
            <hr>
            <div class="mb-3 w-50 d-flex">
                <p class="mx-1">category: </p>
                <div class="mx-1">{{ form.category }}</div>
            </div>
            <hr>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div>
                {% if form.errors or form.non_field_errors %}
                    <div>
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
{% endblock content %}